<mat-toolbar color="primary">
  <span>News Aggregator</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/saved">Saved Articles</button>
  <button mat-button routerLink="/preferences">Preferences</button>
  <button *ngIf="!(isLoggedIn$ | async)" mat-button routerLink="/login">Login</button>
  <button *ngIf="!(isLoggedIn$ | async)" mat-button routerLink="/signup">Sign Up</button>
  <button *ngIf="isLoggedIn$ | async" mat-button (click)="logout()">Logout</button>
</mat-toolbar>