<mat-card>
  <mat-card-header>
    <mat-card-title>Login / Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" name="firstName" type="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" name="firstName" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button color="accent">Sign Up</button>
    </form>
  </mat-card-content>
</mat-card>